*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

span{
    display: inline-block;
}

.container{
    width: 1170px;
    margin: 0 auto;
}
.clr{
    clear: both;
}

@font-face {
    font-family: DroidSans-Bold;
    src: url(../droid-sans/DroidSans-Bold.ttf)
    
}
@font-face {
    font-family: sans/DroidSans;
    src: url(../droid-sans/DroidSans.ttf)
}

@font-face {
    font-family: MYRIADPRO-BOLD;
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: MyriadPro-Light;
    src: url(../myriad-pro-cufonfonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: MYRIADPRO-REGULAR;
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: MYRIADPRO-SEMIBOLD;
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-SEMIBOLD.OTF);
}
/* ---------------common css end--------------- */
#haeder_part{
    background: #131e29;
    height: 100px;
}
.header_logo{
    width: 20%;
    float: left;
}   
.header_logo a{
    margin-top: 16px;
}


.header_menu{
    width: 80%;
   float: left;
}


/* menu part */

.header_menu ul{
    float: right;
    
    
}
.header_menu ul li{
    float: left;
    line-height: 100px;
    
}
.header_menu ul li a{
    color: #ffffff;
    font-size: 13;
    font-weight: 400;
    font-family: DroidSans-Bold;
    margin-left: 36px;
    
    transition: all linear .3s;
}
.header_menu ul li a:hover{
    color: #4bcaff
}
.head_under{
    height: 1px;
    width: 100%;
    background: #516b81;
}
/* -------------banner part start------------- */
#banner_part{
    background: url(../images/Bazinger.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 120px 0;
    
}
.banner_text{
    width: 670px;
    height: 335px;
    margin-left: 500px;
    text-align: left;
    
}
.banner_text h2{
    color: #ffffff;
    font-size: 44px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.banner_text h2 span{
    color: #ffffff;
    font-size: 44px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
} 
.banner_text p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}
.btn a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    font-family: DroidSans-Bold;
    border: 2px solid #ffffff;
    padding: 0 51px;
    line-height: 59px;
    border-radius: 7px;
    transition: all linear .3s;
    margin-right: 5px;
}
.btn a:hover {
    background: #4bcaff;
    border: 2px solid #4bcaff;
    border-bottom: 2px solid #277697;
}

.banner_text h6{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin-top: 70px;
    display: inline-block;
}

.btn_a a{ 
    color: #4bcaff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #171a1e;
    text-align: center;
    line-height: 50px;
}

/* -------------banner part end------------- */

/* -----------------suumary part start------------------ */
#suumary_part{
    padding: 50px 0 110px 0;
    background: #f9f9f9;
    text-align: center;
}

.cmmn_heading h2{
    color: #414042;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.cmmn_heading h5{
    color: #414042;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.summ_raw2{
    margin-top: 35px;
}

.summ_col{
    width: 22.75%;
    float: left;
    margin-right: 35px;
}

.summ_col:nth-child(4){
    margin-right: 0;
}

.summ_col a{
    color: #ffffff;
    width: 160px;
    height: 160px;
    background: #4bcaff;
    border-radius: 50%;
    line-height: 160px;
    font-size: 70px;
}

.summ_text h4{
    color: #414042;
    font: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-top: 35px;
    transition: all linear .3s;
}

.summ_col:hover .summ_text h4{
    color: #4bcaff;
}

.summ_text p{
    color: #838383;
    font: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    line-height: 22px;
}

/* -----------------suumary part end------------------ */

/* -----------------gallery part start---------------- */
#gallery_part{
    padding: 50px 0 110px 0;
    text-align: center;
}

.gal_raw2{
    margin-top: 60px;
}

.gal_col{
    width: 23%;
    margin-right: 30px;
    float: left;
}

.gal_col:nth-child(4){
    margin-right: 0;
}

.gal_ss{
    width: 270px;
    height: 200px;
    background: #4bcaff;
    border-radius: 15px;
    position: relative;
}

.gal_overly{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(65, 64, 66, 0.65);
    color: #4bcaff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    line-height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.gal_text p{
    color: #838383;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    margin-top: 35px;
}

/* -----------------gallery part end---------------- */

/* -----------------bnnr 2 part start---------------- */
#bnnr_part{
    padding: 80px 0 200px 0;
    text-align: center;
    background: url(../images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bnnr2_raw h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.bnnr2_raw h2 span{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.bnnr2_text{
    width: 625px;
    padding-top: 35px;
    text-align: left;
    margin: 0 auto;
}

.bnnr2_text p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: MYRIADPRO-REGULAR;
}

.bnnr2_text p span{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: MYRIADPRO-REGULAR;
    display: block;
    margin-top: 30px;
}
/* -----------------bnnr 2 part end---------------- */
/* -----------------price part start---------------- */

#price{
    padding: 70px 0;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

.pri_raw2{
    margin-top: 80px;
    display: flex;
}

.pri_col{
    width: 31%;
    padding: 30px 0 20px 0;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-right: 45px;
    transform: scale(1);
    transition: all linear .3s;
}

.pri_col:hover{
    transform: scale(1.1);
}

.pri_col:nth-child(3){
    margin-right: 0;
}

.pri_col h4{
    color: #d7d7d7;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 27px;
    transition: all linear .3s;
}

.pri_col h2{
    color: #fff;
    font-size: 85px;
    font-family: MYRIADPRO-BOLD;
    line-height: 115px;
    background: #91c46b;
}

.pri_col ul{
    margin: 35px 0 35px 0;
}

.pri_col ul li{
    color: #d7d7d7;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 22px;
    transition: all linear .3s;
}

.pri_col ul li:nth-child(3){
    margin-bottom: 0;
}

.pri_col a{
    padding: 0 47px;
    line-height: 49px;
    background: #91c46b;
    border-radius: 2px;
    color: #fefefe;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.col2 h2,
.col2 a{
    background: #4bcaff;
}

.col3 h2,
.col3 a{
    background: #fd7c00;
}

.col1:hover  h4,
.col1:hover  ul li{
    color: #91c46b;
} 

.col2:hover  h4,
.col2:hover  ul li{
    color: #4bcaff;
}

.col3:hover  h4,
.col3:hover  ul li{
    color: #fd7c00;
}


/* -----------------price part end---------------- */

/* -----------------testimonial part end---------------- */
#testimonial{
    padding: 40px 0 100px 0;
}

.tes_box{
    width: 520px;               
    margin: 0 auto;
}

.tes_raw1{
    text-align: center;
    margin-bottom: 35px;
}

.tes_raw1 h2{
    color: #414042;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}



.tes_col1{
    width: 145px;
    margin-right: 20px;  
    float: left;      
}

.tes_col1 img{
    width: 100%;
    max-width: 100%;
}


.tes_col2{
    width: 68%;
    color: #4bcaff;
    float: left;
}

.tes_text p{
    margin-top: 26px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.tes_sign{
    margin-top: 5px;
    float: right;
}

.tes_sign p{
    font-style: italic;
    text-align: right;
}

.tes_sign p span{
    display: block;
}
/* -----------------testimonial part end---------------- */
/* -----------------like part end---------------- */
#like{
    padding: 35px 0 30px 0;
    background: #414042;
    text-align: center;
}

.like_cont h2{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.like_cont a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding: 0 32px;
    line-height: 60px;
    background: #414042; 
    border-radius: 12px;
    border: 2px solid #fff;
}

.like_cont a:hover{
    color: #414042;
    background: #4bcaff;
    border: 2px solid #4bcaff;
    border-bottom: 2px solid #277697;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
/* -----------------like part end---------------- */
/* -----------------map part end---------------- */

#map{
    position: relative;
}

.map_cont{
    border-bottom: 0 !important; 
}

.map_cont iframe{
    width: 100%;
    height: 680px;
    border: 0;
    padding: 0;
    margin: 0;
}
input placeholder {
    text-align: center;
    }
.contact{
    padding: 30px 20px;
    background: rgba(75, 201, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
}

.contact h2{
    padding-bottom: 30px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    cursor:pointer;
}

.inp{
    border: 0;
    border-radius: 4px;
    width: 270px;
    line-height: 35px;
    margin-bottom: 15px;
}



.mass{
    height: 145px;
    width: 270px;
    overflow: auto;
    border: 0;
    margin-bottom: 15px;
}

.btn1{
    width: 190px;
    line-height: 45px;
    border: 0;
    color: #72b3cc;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    transition: all linear .3s;
    border-radius: 3px;
}

.btn1:hover{
    background: #414042;
    border-bottom: 1px solid #313032;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#copyright{
    line-height: 110px;
    background: #414042;
}
.left{
    width: 280px;
    float: left;
}

.right{
    width: 280px;
    float: right;
}

.left p{
    color: #717172;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.right p{
    color: #717172;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}


.table textarea{
resize: none;
}
/* -----------------map part end---------------- */





/* -----------------bnnr part end---------------- */
/* -----------------bnnr part end---------------- */